@font-face {
	font-family:'Gotham-Book';
	src: url('../fonts/Gotham-Book_gdi.eot');
	src: url('../fonts/Gotham-Book_gdid41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book_gdi.woff') format('woff'),
		url('../fonts/Gotham-Book_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Book_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Book_gdi.svg#Gotham-Book') format('svg');
	font-weight: 325;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Gotham-ExtraLight';
	src: url('../fonts/Gotham-ExtraLight_gdi.eot');
	src: url('../fonts/Gotham-ExtraLight_gdid41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-ExtraLight_gdi.woff') format('woff'),
		url('../fonts/Gotham-ExtraLight_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-ExtraLight_gdi.otf') format('opentype'),
		url('../fonts/Gotham-ExtraLight_gdi.svg#Gotham-ExtraLight') format('svg');
	font-weight: 275;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Gotham-Medium';
	src: url('../fonts/Gotham-Medium_gdi.eot');
	src: url('../fonts/Gotham-Medium_gdid41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium_gdi.woff') format('woff'),
		url('../fonts/Gotham-Medium_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Medium_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Medium_gdi.svg#Gotham-Medium') format('svg');
	font-weight: 350;
	font-style: normal;
	font-stretch: normal;
}
@font-face {
	font-family:'Gotham-Light';
	src: url('../fonts/Gotham-Light_gdi.eot');
	src: url('../fonts/Gotham-Light_gdid41d.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light_gdi.woff') format('woff'),
		url('../fonts/Gotham-Light_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Light_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Light_gdi.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfonte0a5.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfonte0a5.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfonte0a5.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfonte0a5.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfonte0a5.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}